@import url(http://fonts.googleapis.com/css?family=Abel);

#fakebannertop{
	color:red;
	text-align:center;
	border-bottom-style:solid;
	border-bottom-color:red;
}

#fakebannerbottom{
	color:red;
	text-align:center;
	border-top-style:solid;
	border-top-color:red;
}

#container{
	font-family: 'Abel', 'Times New Roman';
	width: 70%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	min-width: 220px;	
}


#top{
	height: 18px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	border-bottom-style:solid;
	border-bottom-color:#333333;
	position: relative;	
}

a{
	text-decoration:none;
	color:#333333;
	/* �lemise riba lingid*/
}
#top a:hover{
	text-decoration:overline;
	color:#333366;
}

#navmenu {
	padding: 0;
}

#navmenu a{
	font-size: 13pt;
}

#navmenu  li{
	font-size:12pt;
	text-transform:uppercase;
	text-shadow:#003399;
	display:inline-block;
	padding: 0px 5px 0px 5px;
}

#navbar {
	min-width: 321px;
	width: 642px;
	margin: 0 auto;
	text-align:center;
}
#help {
	position: absolute;
	left:0;
	top:0;
	padding-left: 16px;
}

#login {
	position: absolute;
	right:0;
	top:0;
	padding-right:16px;
}

 /* uus algus */
 
#button_style {
	 padding-top: 25px;
	 padding-bottom: 25px;
	 text-align: center; 
	 font-family: 'Abel', 'Times New Roman';
}

#button_style input {
	color:#000000;
	font-size:18pt;
	text-transform:uppercase;
	border-style:solid;
	border-color:#000000;
}

#button_style input:hover{
	background-color:#CCC;
}
/* HIDE THE FOLLOWING DIVS INITIALLY (NAVIGATION PURPOSES)*/
#haaletaminehtml, #tulemusedhtml, #kandidaadidhtml, #kandideeriminehtml, #abihtml{
	display: none;
}
#homemenu {
	background: none;
	box-shadow: none;
}



h1 {
	font-size: 30pt;
	margin-bottom: 40px;
	padding: 0 0 0 3%;
	border-bottom: thin;
	border-bottom-style:solid;
}
#content {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 30px 40px 30px;
	/*background-color:#efefef;*/
	/* FOLLOWING LINES COMMENTED OUT DUE TO NAVIGATION WITH MASTER INDEX.html*/
	/*background-color:#e7e7e7;*/
	/*box-shadow:  4px 4px 6px rgba(50, 50, 50, 0.4);*/
}

#footer {
	width: 220px;
	margin: 0 auto;
}

#footer a {
	color:#666666;
}

#footer li {
	padding: 0 8px 0 0;
	font-size:11pt;
	display:inline-block;
}

#footer a:hover{
	color:#000000;
}

/* jaksi css */
#kandidaadid{
	width:95%;
	padding-left:15px;
	font-size:20px;
}
#k_left{
	width:20%;
}
#k_right{
	width:20%;
	margin:-104px auto;
	margin-bottom:10px;
	
}
#k_inputs{
	text-align:right;
}
#k_inputs table{
	width:100%;
}
#k_inputs select, input{
	/*box-sizing is a fix to force select and input to have an equal width*/
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 50%; 

}
#k_inputs label{
	min-width:69px;
	border-collapse:collapse;
	display:inline-block;
	float:left;
	text-align:left;
}

#k_table th, td{
	width:1%;
	border:2px solid black;
}
#k_table table{
	text-align:left;
	overflow-y:scroll;
	width:100%;
	background-color:white;
	border-collapse:collapse;
	border:1px solid black;
	margin-bottom:20%;
	display:block;
}
/* START OF AUTOCOMPLETE : */

/* END OF AUTOCOMPLETE : */


#abi li{
	font-size:20px;
	text-decoration:underline;
}

/* jaksi cssi l�pp */

 /* uus algus */
 
#kandideerimine label { /* <-- this used to be #kandideerimine label, changed to html suffix due to master html*/
	display: block;
	float: left;
	width: 150px;
}
#kandideerimise_vorm span{
	color: red;
	margin-left:20px;
}
#kandideerimine select{
	 box-sizing:border-box;
 	-ms-box-sizing:border-box;
 	-moz-box-sizing:border-box;
 	-webkit-box-sizing:border-box;
 	 width: 34.6%;
}

#haaletamine table{
	background-color:white;
	float:right;
	border-collapse:collapse;
	height:200px;
	width:100%;
	display:block;
	overflow-y: scroll;
	border:none;
}

#haaletamine th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 150px;
}

#keskele {
    text-align:center;
} 


/* uus l�pp */

/* Tulemuste lehe asjade algus
############################################################*/


.sortIcon :hover{
	
}
img[id^="asc"], img[id^="desc"]{
	display: none;
}
#tulemustabs li + li:before{
    content: " | ";
    padding: 0 5px;
}
#tulemustabs li{
	display: inline;
}

#tulemustabs a:hover{
	text-decoration:overline;
	color:#333366;
}

#tulemustabs ul{
	background-color:#CCCCCC;
	padding-left:38%;
}
/* make the header row stand in place*/
.tableheader {
	margin-top:2px;
	position: absolute;
	top: 0;
}
.header-background {
	background-color: #CCCCCC;
	height: 25px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
/* make the header row be fixed relative to the actual table area*/
#tulemustabel-wrapper {
	position: relative;
	min-width: 290px;
}
#tulemustabel {
	overflow:auto;
	height: 200px;
}

#tulemustabel  table{
	margin-top:22px;
	width: 100%;
	border-collapse: collapse;
	border: none;
	background-color:#E9E9E9;
	
	
}
a.poke img{
	display:none;
	position: fixed;
	left: 39%;
	top: 25%;
	z-index: 2;
}
a.poke:hover img{
	display:block;
}

#tulemustabel th{
	text-transform:uppercase;
}
	
.statisticpic img{
	max-width: 100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}


/*TULEMUSTE lehe ASJADE L6PP ############################## */

/* uus algus */

#abi li{
	font-size:20px;
	text-decoration:underline;
}
#kontakt tr, th{
	text-align:left;
	padding-right:20px;
}

.bigbutton {
	text-align:center;
	width: 75%;
	margin: 0 auto;
}

.bigbutton a {
	text-align:center;
	display:inline-block;
	height: 100px;
	width: 42%;
	text-transform: uppercase;
	font-size: 1.9em;
	background-color:#bfbfbf;
	padding: 30px 10px;
	line-height: 110px;
	margin: 8px;
}
.bigbutton a:hover{
	box-shadow:5px 5px 15px #232129;
	background-color: #CCC;
}


#liikuv_bar{
	margin:20px auto;
	text-align:center;
}


#loading img{
   position: fixed;
	left: 45%;
	top: 35%;
	z-index: 2;
}

#riigis{
	display:block;
}

#parteidekaupa{
	display:none;
}

#piirkonniti{
	display:none;
}


/* uus lopp */

/*medium, "mobile" view:
top bar spans wider, fonts larger for better readability on dense screens.*/
@media only screen and (max-width: 1024px) {
h1 {
font-size: 18pt;
}
a{
	font-size: 120%;
	}
#navmenu a{
	font-size: 150%;
}
#top {
	height: 160px;
	padding-bottom: 50px;
	margin-bottom: 10px;
}

#navmenu  li{
	display:block; 
	background-color:#DBD7CA;
	padding: 0 0 2px 0;
	margin-top: 2px;
}

#login {
	font-size:1.5em;
}

#help {
	font-size:1.5em;
}

#footermenu a{
	font-size:2em;
}

#footer{
	width:50%;
	text-align:center;
}

#navmenu {
	text-align: center;
}

#navbar {
	min-width:0;
	padding-top:16px;
	padding-bottom: 100px;
	width: 100%;
	margin: 0 auto;
}
#container {
	width: 100%;

}
#content {
	width: 100%;
	padding: 20px 0;
}
#kontakt tr, th {
    padding-right: 0;
}
#k_right{
	margin:0px;
	margin-bottom:0px;
}

#k_inputs {
	padding-left: 20px;
}
#k_inputs label{
	/* Ajuvaba22 aga t��tab */
	min-width:100%;
}

#k_inputs table{
	display:block;
}

#k_table table{
	border-collapse:collapse;
}



.bigbutton {
	text-align:center;
	width:100%;
}

.bigbutton a{
	width:85%;
}



#liikuv_bar{
	display:none;
}


/*medium, "mobile" view:
top bar spans wider, fonts larger for better readability on dense screens.*/
@media only screen and (max-width: 480px) {
#content {
    padding: 0;
}
h1 {
	margin-bottom:0;
}
#k_inputs input{
	width:70px;
}
#tulemustabel-wrapper {
	min-width: 230px;
}
.header-background {
	display:none;
}
.tableheader {
    position: inherit;
}

}
